{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Post</title>
</head>
<body>
    <header>
        <div>Posts</div>
        <nav>
            <a href="{% url "posts_list" %}">Back to posts</a>
        </nav>
    </header>
    <main>
        <div class="blog-post-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <div>
                <button>Submit</button>
            </div>
        </div>
    </main>
</body>
</html>