{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Posts</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url "create_post" %}">Create a post</a>
        </nav>
    </header>
    <main>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>
                {{ post.content }}
            </p>
        {% endfor %}
    </main>
</body>
</html>